html, head, body {
    padding: 0;
    margin: 0;
}

.buttons {
    overflow: hidden;
    background-color: gray;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
}

div.button {
    float: right;
    display: block;
    color: white;
    font-family: Calibri, sans-serif;
    text-align: center;
    text-height: 20px;
    padding: 10px 16px;
    text-decoration: none;
}

div.button:hover {
    background-color: #ddd;
    color: black;
}

div.container {
}

div.editorContainer {
    position: relative;
    float: left;
    width: 50%;
}

div.editor {
}

div.outputContainer {
    position: relative;
    float: left;
    width: 50%;
    background-color: #eaeaea;
}

div.output {
}
