html, head, body {
    padding: 0;
    margin: 0;
}

.buttons {
    overflow: hidden;
    background-color: gray;
    height: 40px;
    padding: 0;
    border: 0;
    margin: 0;
}

div.button {
    float: right;
    display: block;
    color: white;
    font-family: Calibri, sans-serif;
    text-align: center;
    text-height: 20px;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.2s;
}

div.button:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

div.container {
}

div.editorContainer {
    position: relative;
    float: left;
    width: 50%;
}

div.editor {
}

div.outputContainer {
    position: relative;
    float: left;
    width: 50%;
    background-color: #eaeaea;
}

.output {
    overflow-x: scroll;
}

.output .tabs {
    overflow: hidden;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #b5b5b5;
}

.output .tabs .tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.2s;
    text-height: 15px;
}

.output .tabs .tab:hover {
    background-color: #ddd;
}

.output .tabs .tab.active {
    background-color: #ccc;
}

.tabcontent {
}

.tabcontent {
    padding: 6px 12px;
    font-family: "Courier New", monospace;
    font-size: smaller;
    background-color: inherit;
    overflow-y: scroll;
}

.tabcontent p {
    padding: 0;
    border: 0;
    margin: 0;
}